body {
    margin: 0px;
    background-color: rgb(185, 231, 243);
    font-family: Helvetica, Arial, sans-serif

}

#logo{
    margin: 0px;
    padding: 30px;
    font-family: sans-serif;
    /* write name of customised font "" you would have linked in your index.html */
}

cite > a {
    display: inline-block; 
    /* Increase height of the clickable link */
    width: 100px;
    height: 50px;
}

ul{
    margin: 0px;
}
#main-header {}

body> header {
    background-color: rgb(240, 201, 240) ;
    /* We want only the main header to be affected, not all headers embedded. So ony the header that is the direct descendant of the body tag. It will override any colour you have set for the body tag as it is more specific and takes presedence. Can use an ID to label different headers to make them different so you can refer to them easier. */
    color: white
}
body > footer {
    background-color: rgb(194, 231, 210) ;
}